<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  
  {% seo %}
  {% feed_meta %}
</head>
<body>
  <header class="site-header">
    <div class="container">
      <div class="header-content">
        <a class="site-title" href="{{ '/' | relative_url }}">Verb <span class="slash">/</span> Noun</a>
        <nav class="header-nav">
          <a href="/articles/">Articles</a>
          <a href="/writers/">Writers</a>
          <a href="/about/">About</a>
          <a href="/newsletter/">Newsletter</a>
        </nav>
      </div>
    </div>
  </header>

  <main class="page-content">
    {{ content }}
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
      <p>
        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
        {% endif %}
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}">GitHub</a>
        {% endif %}
      </p>
    </div>
  </footer>
</body>
</html>